#inner {
  padding: 0px 30px;
  margin: 0px auto;
  background: #fff;
  border: none;
  font-size: 14px;
}
#hd {
  margin: 0;
  border-bottom: none;
}
.displayOnly {
  display: none;
}
.printOnly.last {
  margin-bottom: 24px;
}
.printOnlyBottom {
  margin-bottom: 12px;
}
#contact {
  width: 100%;
}
.contact-info h3.printOnly {
  float: none;
  text-align: right;
}

.yui-gf .yui-u,
.yui-gf div.first {
  float: none;
  width: 100%;
}
.yui-gf div.first {
  font-size: 18px;
}
#bd .yui-t7 #yui-main .yui-b {
  margin-bottom: 0px;
}
#contact a {
  display: block;
  background: #fff;
  color: #000;
  padding: 6px 0;
  margin-bottom: 6px;
  border: none;
}
h1,
h2,
h3,
h4 {
  color: #000;
  font-weight: bold;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 24px;
}
h2 a {
  color: #000;
}
h3 {
  font-size: 18px;
}
a {
  text-decoration: none;
}
li {
  list-style: disc;
  margin-left: 18px;
}
.yui-gf {
  margin-bottom: 1.4em;
  border-bottom: none;
}
#experience {
  margin-bottom: 0;
}
#experience .job {
  margin-bottom: 18px;
}
#education {
  margin-bottom: 0px;
}
.printOnly {
  display: block;
}
