/*
---------------------------------------------------------------------------------
	STRIPPED DOWN RESUME TEMPLATE
    html resume

    v0.9: 5/28/09

    design and code by: thingsthatarebrown.com 
                        (matt brown)
---------------------------------------------------------------------------------
*/

#menu {
  background: #666;
}
.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}

/* //-- yui-grids style overrides -- */
body {
  font-family: Georgia;
  color: #444;
}
#inner {
  padding: 0px 30px;
  margin: 20px auto;
  border: solid #003366;
  border-width: 8px 0 2px 0;
}
.yui-gf {
  margin-bottom: 2em;
  border-bottom: 1px solid #bfd2e1;
}

/* //-- header, body, footer -- */
#hd {
  margin: 2.5em 0 0 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #bfd2e1;
}
#hd .yui-gc div.first {
  width: 55%;
}
#hd .yui-u {
  width: 43%;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#profile {
  margin-top: 2em;
}

/* //-- core typography and style -- */
#hd h1 {
  font-size: 48px;
  font-variant: small-caps;
  letter-spacing: 2px;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  color: #003366;
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: #990003;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
ul,
ul li {
  list-style: square;
}
li {
  line-height: 24px;
  margin-left: 20px;
}
.job ul li,
.talent li {
  line-height: 18px;
}
p.enlarge {
  font-size: 144%;
  padding-right: 0.5em;
  padding-bottom: 1em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.printOnly {
  display: none;
}
.contact-info {
  margin-top: 7px;
}
.contact-info h3 {
  float: right;
}
.contact-info img {
  padding-left: 10px;
}
.first h2 {
  font-style: italic;
}
.last {
  border-bottom: 0;
}

/* //-- section styles -- */

a.emailer {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 12px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}
a.emailer:hover {
  background: #222;
}

/*.job { position: relative; margin-bottom: 1em; padding-bottom: 1em; border-bottom: 1px solid #bfd2e1; }*/
.job {
  position: relative;
  margin-bottom: 1em;
  padding: 0;
}

.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0.5em;
}
.job p {
  margin: 0.75em 0 2em 0;
}
.job p.enlarge {
  margin: 0em;
}
.job ul {
  margin: 10px 0;
}

.last {
  border: none;
}
.skills {
  width: 33%;
  float: left;
}
.talent {
  width: 24%;
  float: left;
}
.skills h2,
.talent h2 {
  margin-bottom: 6px;
}
.skills,
.talent {
  margin-bottom: 20px;
}

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 20px;
}

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u {
  width: 82.2%;
}
.yui-gf div.first {
  width: 12.3%;
  display: block;
}
#phoner {
  display: none;
}
.print-only {
  display: none;
}

@media screen and (max-width: 700px) {
  .minor {
    display: none;
  }
  #doc2 {
    max-width: 480px;
  }
  #hd {
    margin: 10px 0;
  }
  #hd .yui-gc div,
  #hd .yui-gc div.first {
    width: 100%;
  }
  #contact h3 {
    float: none;
    width: 100%;
  }
  #phoner {
    display: block;
    clear: both;
  }
  a#emailer {
    background: transparent;
    color: #003366;
    padding: 4px 0;
  }
  .yui-gf {
    margin-bottom: 10px;
  }
  .yui-gf .yui-u {
    width: 100%;
    padding-top: 10px;
  }
  .yui-gf div.first {
    width: 100%;
  }
  p.enlarge {
    font-size: inherit;
    line-height: inherit;
  }
  .talent {
    width: 40%;
  }
  #education h2,
  #service h2 {
    font-size: 126%;
  }
  #education .first h2,
  #service .first h2 {
    font-size: 146%;
  }
}
